@font-face {
	font-family: 'HelveticaNeueBold';
	src: url('../../fonts/Helvetica/HelveticaNeueBold.eot');
	src: local('☺'), url('../../fonts/Helvetica/HelveticaNeueBold.woff') format('woff'), 
         url('../../fonts/Helvetica/HelveticaNeueBold.ttf') format('truetype'), 
         url('../../fonts/Helvetica/HelveticaNeueBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueMedium';
	src: url('../../fonts/Helvetica/HelveticaNeueMedium.eot');
	src: local('☺'), url('../../fonts/Helvetica/HelveticaNeueMedium.woff') format('woff'), 
         url('../../fonts/Helvetica/HelveticaNeueMedium.ttf') format('truetype'), 
         url('../../fonts/Helvetica/HelveticaNeueMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueRegular';
	src: url('../../fonts/Helvetica/HelveticaNeueRegular.eot');
	src: local('☺'), url('../../fonts/Helvetica/HelveticaNeueRegular.woff') format('woff'), 
         url('../../fonts/Helvetica/HelveticaNeueRegular.ttf') format('truetype'), 
         url('../../fonts/Helvetica/HelveticaNeueRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoRegular';
	src: url('../../fonts/Roboto/Roboto-Regular.eot');
	src: local('☺'), url('../../fonts/Roboto/Roboto-Regular.woff') format('woff'), 
         url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), 
         url('../../fonts/Roboto/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}