<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-content__politics">
                <h4 class="politics-title">POLITICAS</h4>
                <ul class="politics-list">
                    <li>
                        <a href="">Politicas de privacidad</a>
                    </li>
                    <li>
                        <a href="">Politicas de cambio</a>
                    </li>
                    <li>
                        <a href="">Politicas de envío</a>
                    </li>
                    <li>
                        <a href="">Términos y condiciones</a>
                    </li>
                    <li>
                        <a href="">Responsabilidad social</a>
                    </li>
                </ul>
            </div>
            <div class="footer-content__about">
                <h4 class="about-title">SOBRE NOSOTROS</h4>
                <ul class="about-list">
                    <li>
                        <a href="">Encuentra tu tienda</a>
                    </li>
                    <li>
                        <a href="">Contáctanos</a>
                    </li>
                    <li>
                        <a href="">Trabaja con nosotros</a>
                    </li>
                </ul>
            </div>
            <div class="footer-content__follow">
                <h4 class="follow-title">SIGUENOS EN:</h4>
                <ul class="follow-list">
                    <li class="follow-list__social">
                        <a href="">
                            <img src="assets/img/icons/icon-facebook.svg" alt="">
                        </a>
                    </li>
                    <li class="follow-list__social">
                        <a href="">
                            <img src="assets/img/icons/icon-twitter.svg" alt="">
                        </a>
                    </li>
                    <li class="follow-list__social">
                        <a href="">
                            <img src="assets/img/icons/icon-instagram.svg" alt="">
                        </a>
                    </li>
                    <li class="follow-list__social">
                        <a href="">
                            <img src="assets/img/icons/icon-youtube.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span>
            &copy; Copyright Colombia. Todos los derechos reservados
        </span>
    </div>
</footer>
